// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.comments-container, .spinner {
	display: none;
}
.post-container {
/*	background-color: pink;*/
	min-height: 500px;
}

.image {
/*padding-top: 5%;	
	padding-right: 5%;
	float: right;*/

	}




