<%= form_tag post_charges_path(@post) do %>
  <article>
    <label class="amount">
      <span>Bend in your pocket: $15.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets[:stripe_publishable_key] %>"
          data-description="Cash Money Swagstagram"
          data-amount="150"></script>
<% end %>